body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: var(--background-super-dark);
  color: var(--text-inverted);
  margin: 0px;
}

.title {
  color: var(--text-normal-title);
}

.title.inverted {
  color: var(--text-inverted-title);
}

.row {
  display: flex;
  min-height: 100vh;
}

.left {
  flex: 4;
  background-color: var(--background-dark);
}

.right {
  flex: 3;
  background-color: var(--background-alt);
}

.text {
  background-color: var(--text-normal-background);
  color: var(--text-normal);
}

.text.inverted {
  background-color: var(--text-inverted-background);
  color: var(--text-inverted);
}

.button {
  color: inherit;
  background-color: inherit;
  border-radius: .25em;
  padding: .3em;
  margin: .3em;
}

.button:hover {
  background-color: var(--accent);
}

.button:active {
  background-color: var(--background-super-dark);
}